body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-pr{
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.container-recipes {
    width: 80%; /* Ancho fijo */
    max-width: 100%; /* Máximo ancho */
    max-width: 1200px;
}

.header-recipes {
    background-color: #2D3436;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 3px 6px 0 #555;
    border-radius: 10px;
    margin: 20px auto;
    height: 80px;
}

.nombre-cabecera {
    display: flex;
    align-items: center;
}

.icono-cabecera{
    width: 55px; /* Tamaño reducido del logo */
    height: 55px; /* Tamaño reducido del logo */
    margin-right: 10px; /* Ajusta el espacio entre el logo y el texto */
    border-radius: 10px;
}

.search-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
    background-color: #FFFFFF;
}

.search-input {
    border: none;
    outline: none;
    margin-left: 10px;
    font-size: 16px;
    flex-grow: 1;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.tarjeta-receta{
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-align: center;
    flex: 0 1 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    display: grid;
}

.tarjeta-receta:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.cuerpo-tarjeta{
    text-align: center;
}

.titulo-tarjeta {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-bottom: 10px;
}

.titulo-tarjeta:hover {
    color: #eb3300;
}

.nutrition-info {
    margin-top: 10px;
}

.nutrition-info p {
    font-size: 14px;
    margin: 5px 0;
    color: black;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 25px;
}

.pagination .page-item .page-link {
    cursor: pointer;
    margin: 0 5px;
}

.pagination .page-link{
    color: #007bff;
    border-radius: 4px;
    border: 1px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}


.pagination .page-item.active .page-link {
    background-color: #0056b3; /* Color azul más intenso para el botón activo */
    color: white;
    border-color: #0056b3;
}

.pagination .page-link:hover {
    background-color: #0056b3; /* Color azul más intenso al pasar el ratón */
    color: white;
}



