body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

.forgot-password-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.forgot-password-container:hover {
    transform: translateY(-10px);
}

.forgot-password-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.forgot-password-input-group {
    margin-bottom: 1.5rem;
}

.forgot-password-input {
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0 15px; /* Ajusta el padding para evitar que el texto se desborde */
    width: 100%; /* Asegúrate de que los inputs ocupen el 100% del contenedor */
    box-sizing: border-box; /* Incluye el padding y border en el tamaño total del input */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.forgot-password-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.forgot-password-button {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
    padding: 12px 0;
    border-radius: 25px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s;
}

.forgot-password-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.forgot-password-button:active {
    background-color: #004494;
    border-color: #004494;
}

.forgot-password-message-success, .forgot-password-message-error {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.forgot-password-message-success {
    color: #28a745;
}

.forgot-password-message-error {
    color: #dc3545;
}
