.container {
    max-width: 600px;
}

.card.custom-card {
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.card.custom-card img.tamaño-imagen {
    width: 150px;
    height: auto;
}

.card.custom-card .form-control {
    height: 45px;
    font-size: 16px;
}

.card.custom-card button {
    height: 45px;
    font-size: 16px;
    font-weight: bold;
}

.card.custom-card .text-primary {
    cursor: pointer;
    text-decoration: underline;
}

.card.custom-card .text-primary:hover {
    color: #0056b3;
}