@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
    background-color: #f8f9fa;
}

.contenedor1_login .contenedor2_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    height: 100vh;
}

.login-card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: auto;
    margin: auto;
    padding: 15px;
    margin-top: 30px;
    display: flex;
}

.header-card h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.login-card img.tamaño-imagen {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 5px;
}

.login-card .titulo-card {
    margin-bottom: 0px;
}

.card.custom-card .form-control {
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.card.custom-card button:hover {
    background-color: #46922a;
    border-color: #46922a;
}

.card.custom-card .link-button {
    text-decoration: underline;
}

.card.custom-card .link-button:hover {
    color: #46922a;
    text-decoration: underline;
}

/* Validación de input */
.card.custom-card .input-group .input-group-text {
    background-color: white;
    border-left: 0;
}

.card.custom-card .is-valid {
    border-color: #32CD32;
}

.card.custom-card .is-invalid {
    border-color: #e3342f;
}

.card.custom-card .valid-feedback,
.card.custom-card .invalid-feedback {
    display: block;
}

.input-group-append {
    display: flex;
}