.custom-card {
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
}

.accordion-button.custom-button {
    background-color: #007bff;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
}

.accordion-button.custom-button:not(.collapsed) {
    color: white;
    background-color: #0056b3;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-header h5 {
    margin-bottom: 0;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.form-check-input {
    margin-left: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.d-flex > .btn {
    flex: 1 1 auto;
    max-width: 150px;
}

.progress {
    margin-top: 10px;
}

.pie-chart {
    max-width: 200px;
    margin: 0 auto;
}
