.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #4CAF50;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    color: #4CAF50;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    gap: 1px;

}

.radio-group input {
    margin-top: 3px;
    align-items: center;
}

.radio-group .form-check-inline {
    display: flex;
    align-items: center;
    margin: auto;
}

.radio-group .form-check-label {
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 0.9em;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #4CAF50;
    color: #fff;
}

.btn-secondary {
    background-color: #ccc;
    color: #000;
}

.btn + .btn {
    margin-top: 10px;
}

.form-check-label {
    display: flex;
    align-items: center;
}